<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <script src="https://kit.fontawesome.com/ee449a916d.js" crossorigin="anonymous"></script>
    <title>Fragment holder</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">ReThink Tutories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dptDrowdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Departments</a>
                <div class="dropdown-menu roundborder" aria-labelledby="dptDrowdown" >
                    <div class="list-group roundborder">
                        <a th:each="department: ${departments}" class="list-group-item list-group-item-action" th:href="@{/department/{id}(id=${department.id})}" th:text="${department.name}"></a>
                    </div>
                </div>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                <a class="nav-link" th:href="@{/admin}">Admin Page <span class="sr-only">(current)</span></a>
            </li>
            <!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/login}">Login</a>-->
            <!--            </li>-->
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<nav th:fragment="navbar-department" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">ReThink Tutories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="dptDrowdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Departments</a>
                <div class="dropdown-menu roundborder" aria-labelledby="dptDrowdown">
                    <div class="list-group roundborder">
                        <a th:each="department: ${departments}" class="list-group-item list-group-item-action" th:href="@{/department/{id}(id=${department.id})}" th:text="${department.name}"></a>
                    </div>
                </div>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin Page <span class="sr-only">(current)</span></a>
            </li>
            <!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/login}">Login</a>-->
            <!--            </li>-->
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>
