<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ee449a916d.js" crossorigin="anonymous"></script>
    <title>[[${department.name}]]</title>
    <style>

        .jumbotron-fluid {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="bg-secondary">
<div id="page-container">
    <div id="content-wrap">
        <nav th:replace="base::navbar-department"></nav>
        <div class="jumbotron jumbotron-fluid" th:style="'background-image: url('+${department.backgroundPhoto} +')'">
            <div class="container text-white text-center">
                <h1 class="display-4">[[${department.name}]]</h1>
                <p class="lead">Our [[${department.name}]] department </p>
            </div>
        </div>
        <div class="container-fluid text-white">
            <div th:unless="${department.employees.isEmpty()}" class="row">
                <div class="col-12 text-center p-4 mb-md-4">
                    <h1 class="display-4">Our instructors</h1>
                </div>
            </div>
            <div th:each="employee : ${department.employees}" th:if="${employee.employed}" class="row mb-md-5">
                <div class="col-md-8 text-center">
                    <img class="instructor-photo img" th:src="${employee.photo}" th:alt="${employee.name}">
                </div>
                <div class="col-md-4">
                    <h2 class="text-center" th:text="${employee.name}">Instructor Name</h2>
                    <h4 class="text-center py-md-4" th:text="${employee.jobTitle}">Job title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices in iaculis nunc sed.</p>
                </div>
            </div>
        </div>

        <footer th:replace="index::footer"></footer>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>
