<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ee449a916d.js" crossorigin="anonymous"></script>
    <title>Index Page</title>
</head>
<body class="bg-secondary">
<div id="page-container">
    <div id="content-wrap">
        <nav th:replace="login::navbar"></nav>
        <div class="jumbotron jumbotron-fluid">
            <video id="video-background" preload autoplay muted loop>
                <source th:src="@{/videos/boardMeeting.mp4}" type="video/mp4">
            </video>
            <div class="container text-white text-center">
                <h1 class="display-4">Excel in any subject</h1>
                <p class="lead">Our tutors will take guide you in your journey to master any subject.</p>
                <a href="#" class="btn btn-outline-secondary btn-lg" role="button">See our tutors</a>
            </div>
        </div>
        <div class="container-fluid text-white">
            <div class="row">
                <div class="col-12 text-center p-4 mb-md-4">
                    <h1 class="display-4">Our success stories</h1>
                </div>
            </div>
            <div class="row mb-sm-5">
                <div class="col-md-8 text-center">
                    <img id="success-story-1" class="img" src="https://www.unh.edu/unhtoday/sites/default/files/styles/article_huge/public/article/2019/professional_woman_headshot.jpg?itok=3itzxHXh" alt="Success story 1">
                </div>
                <div class="col-md-4">
                    <h2>The Owner</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices in iaculis nunc sed.</p>
                </div>
            </div>
            <div class="row mb-sm-5">
                <div class="col-md-8 text-center">
                    <img id="success-story-2" class="img" src="https://res.cloudinary.com/playrey/image/upload/v1597066636/gregory-hayes-2guarBycJJQ-unsplash_sabpho.jpg" alt="Success story 2">
                </div>
                <div class="col-md-4">
                    <h2>Bob Richards</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices in iaculis nunc sed.</p>
                </div>
            </div>
        </div>


        <footer th:fragment="footer" class="footer bg-primary" id="footer" >
            <div class="text-center text-white">
                <i class="fab fa-twitter-square"></i> &nbsp;
                <i class="fab fa-facebook-square"></i> &nbsp;
                <i class="fab fa-linkedin"></i>
            </div>
        </footer>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>
