$theme-colors: (
        "primary": #1C448E,
        "secondary": #6F8695,
        "danger": #CA2E55
);

$gray-900: #363020;
$white: #EEE5E9;

$navbar-padding-y: 1.0rem/1.3;
$navbar-padding-x: 1.5rem;

$font-size-base: 1.1rem;
//$yiq-text-dark: red;
//$white: red;
//$black: #2020e9;
$input-border-radius : 10rem;
$input-border-radius-lg: 10rem;
$font-family-base: 'Noto Sans', sans-serif;

$border-radius: 10rem;


